@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(158, 148, 148, 0.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
/* body{
    background: black;
} */
@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax($val,1fr));
    gap: 1.5rem;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;

    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background: black;
    }

    &::-webkit-scrollbar-thumb{
        background: red;
    }
}
body{
    background: black;
}
section{
    padding: 5rem 9%;
}
/* heading  */
.heading{
    text-align: center;
    margin-top: 2rem;
    position: relative;   
}
.heading::before{
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    height: .1rem;
    width: 100%;
    background: var(--light-color);
    z-index: -1;
}
.heading span{
    font-size: 3rem;
    color: red;
    background: black;
    padding: .5rem 1.5rem;
    border: 0.3rem solid var(--light-color);
    border-radius: 0.8rem;
}

.btn{
    font-size: 1.5rem;
    border-radius: 3rem;
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg,red 100%,transparent 90%);
    color: white;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
}

header{
    position: fixed;
    right: 0; left:0; top:0;
    background:black;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-sizing: var(--box-shadow);
}
header .logo img{
    width: 10%;
}

header .logo{
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;   
}
header .logo i{
    color: var(--green);

}

header .navbar a{
    font-size: 1.7rem;
    border-radius: 1.7rem;
    padding: .5rem 1.5rem;
    color: white;
}
header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: red;
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: white;
    border-radius: 50%;
    background: black;
    padding: 0;
}
header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background: red;
    transform: rotate(360deg);
}
header .icons #menu-bars{
    display: none;
}
.swiper-slide {
    width: 100%;
}
// search form 

#search-form{
    position: fixed;
    top: -110%; left: 0;
    height: 100%; width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    
}
#search-form.active{
    top: 0;
}
#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}
#search-form #search-box::placeholder{
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;   
}
#search-form label:hover{
    color: red;
}
#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size: 5rem;
}
#search-form #close:hover{
    color: red;
}


/* home section start  */
.home{
    padding: 0;
    margin-top: 6.5rem;
}
.home .slide{
    min-height: 85vh;
    background-size: cover !important;
    background-position: center !important;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
}
.home .slide .content{
    width: 60rem;
    
}
.home .slide .content span{
    font-size: 2rem;
    color: red;
    display: block;
}
.home .slide .content h3{
    font-size: 5rem;
    color: white;
    padding: 1rem 0;
}
/* home section ends  */

/* about section start */
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:8rem;
}
.image{
    flex:1 1 42rem;
    position: relative;
}
.image::before,
.image::after{
    content: '';
    position: absolute;
    z-index: -1;
    background: red;
    height: 15rem;
    width: 15rem; 
}
.image::before{
    top: 4px; left: 4px;
}
.image::after{
    bottom: 5px; right: 115px;

}
.image img{
    width: 80%;
    padding: 2rem;
}
.content{
    flex: 1 1 42rem;
}
.content span{
    font-size: 2rem;
    color: red;
}
.title{
    font-size: 4rem;
    color: white;
    margin-top: .5rem;
}

p{
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
    line-height: 2;

}
.box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.box{
    flex: 1 1 20rem;
}
h3{
    font-size: 2rem;
    color: white;
}

i{
    padding-right: 1.5rem;
    color: red;
}
/* about section ends  */




/* swiper slide start */
.swiper-pagination-bullet {
    height: 2rem;
    width: 2rem;
    background: white;
    border-radius: 0;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: red;
}
/* swiper slide ends  */

/* features start  */
.feature .box-container1{
    @include grid(32rem);
    gap: 1rem;
    padding-top: 3rem;
}
/* .box1{
    background: var(--light-color);
} */
.image1{
    height: 30rem;
    width: 100%;
    overflow: hidden;
}
.image1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.image1 img:hover{
    transform: scale(1.1);
}
.content1{
    gap: 0;
    padding: 2rem;
    text-align: center;
}
.content1 img{
    height: 9rem;
    margin-bottom: 1rem;
}
.content1 h3{
    font-size: 2rem;
    color: red;
}
p{
    line-height: 2;
    font-size: 1.5rem;
    color: lightslategrey;
    padding: 1rem 0;
}

.second{
    display: flex;
    flex-flow: column-reverse;
}
/* features ends  */

/* pricing start */
.pricing .box-container5{
    @include grid(32rem);
    padding-top: 3rem;
}


.plan{
    text-align: center;
    padding: 2rem;
}

.basic{
    background:linear-gradient(130deg, gray 100%, transparent 90%);
    border-radius: 5rem;
}
.Standard{
    background:linear-gradient(130deg, gray 100%, transparent 90%);
    border-radius: 5rem;
}
.Premium{
    background:linear-gradient(130deg, gray 100%, transparent 90%);
    border-radius: 5rem;

}
.plan h3{
    font-size: 2.5rem;
    margin: 1rem 0;
    color: black;
}
.price{
    font-size: 5rem;
    font-weight: bolder;
    color: red;

}
.price span{
    color: black;
    font-size: 2.5rem;
}
.list{
    padding: 1rem 0;
}
.list p{
    line-height: 2;
    padding: 1rem 0;
    font-size: 2rem;
    color:white;
}
.list i{
    padding-right: 1rem;
    color: red;
}
/* pricing ends  */


/* trainer start */
.trainer .box-container2{
    @include grid(29rem);
    padding-top: 3rem;
}

.trainer .box2{
    height: 40rem;
    overflow: hidden;
    position: relative;
}
.box2:hover .content2{
    transform: translateY(0);
}
.trainer .box2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.content2{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    background: #666;
    padding: 2rem;
    transform: translateY(6.5rem);
}
.content2 span{
    font-size: 2rem;
    color: red;
}
.content2 h3{
    font-size: 2rem;
    color: black;
    padding-top: .5rem;
}
.share{
    padding-top: 2rem;
    margin-top: 1.5rem;
    border-top: .1rem solid white;
}
.share a{
    font-size: 2.6rem;
    color: white;
    margin-right: 1.5rem;
}
.share a:hover{
    color: red;
}
/* trainer ends  */

// banner start 
.banner{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(img/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    text-align: center;

    span{
        font-size: 3rem;
        color: red;
    }

    h3{
        padding-top: 1rem;
        color: white;
        text-transform: uppercase;
        font-size: 3.5rem;
    }
    p{
        margin: 1rem auto;
        max-width: 60rem;
        font-size: 1.5rem;
        color: whitesmoke;
        line-height: 2;
    }
}

// banner end 

// Review start
.review{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    gap: 2rem;

    .information1{
        flex: 1 1 35rem;

        span{
            font-size: 2rem;
            color: red;
        } 
        h3{
            font-size: 3rem;
            color: white;
            padding-top: 1rem;
        } 
        p{
            font-size: 1.5rem;
            line-height: 2;
            color: white;
            padding: 1rem 0;
        }
    }
    .review-slider{
        flex: 1 1 60rem;

        .slide{
            background:linear-gradient(130deg, gray 100%, transparent 90%);
            padding: 2rem 3rem;
            border-radius: 3rem;

            p{
                font-size: 1.5rem;
                line-height: 2;
                color: white;
            }

            .user{
                display: flex;
                align-items: center;
                margin-top: 1.5rem;

                img{
                    height: 5rem;
                    width: 5rem;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 1rem; 
                }
                
                h3{
                    font-size: 2rem;
                    color: white;
                }
                span{
                    font-size: 1.5rem;
                    color: red;
                }
                i{
                    font-size: 5rem;
                    margin-left: auto;
                    margin-right: 2rem;
                    color: red;
                }
            }

        }
    }


}
// Review ends 

// blogs start
.blogs{

    .slide{
        background: var(--light-color);
        margin-top: 7rem;

        &:hover .image2 img{
            transform: scale(1.1);
        }

        .image2{
            height: 25rem;
            width: 100%;
            overflow: hidden;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .content3{
            padding: 2rem;

            .link{
                padding-bottom: 1.5rem;
                font-size: 1.5rem;

                a{
                    color: red;

                    &:hover{
                        color: white;
                    }
                }

                span{
                    color: white;
                    padding: 0 1rem;
                }
            }

            h3{
                font-size: 2rem;
                color: white;
                line-height: 1.5;
            }
            p{
                font-size: 1.5rem;
                color: white;
                line-height: 2;
                padding: 1rem 0;
            }
        }
    }
}

// blogs ends  

// footer start
.footer{

    .box-container4{
        @include grid(25rem);

        .box{

            h3{

                font-size: 2rem;
                color: white;
                padding: 1rem 0;
            }
            .links{
                font-size: 1.5rem;
                display: block;
                color: white;
                padding: 1rem 0;

                &:hover{
                    color: red;
                }
            }
            p{
                font-size: 1.5rem;
                color: white;
                padding: 1rem 0;

                i{
                    padding-right: .5rem;
                    color: red;
                }
            }

            .share{
                padding:1rem 0;

                a{
                    height: 4.5rem;
                    width: 4.5rem;
                    line-height: 4.5rem;
                    font-size: 1.8rem;
                    color: black;
                    background: bisque;
                    border-radius: 50%;
                    margin-right: .5rem;
                    text-align: center;

                    &:hover{
                        background: red;
                    }
                }
            }

            form{

                .email{
                    margin-bottom: 1rem;
                    width: 100%;
                    background: rgb(238, 229, 218);
                    padding:1.2rem;
                    font-size: 1.5rem;
                    color: black;
                    text-transform: none;
                }
            }
            
        }
    }
}

.credit{
    font-size: 2rem;
    text-align: center;
    padding:2rem;
    color: black;
    background: bisque;

    span{
        color: red;
    }
}
// footer ends


























































































/* media quiers */
@media(max-width:1140px){
    html{
        font-size: 41%;
    }
    header{
        padding:1rem 2rem;
    }
    section{
        padding: 4rem 2rem;
    }
}
@media(max-width:900px){
    header .icons #menu-bars{
        display:inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background:#eee;
    }
    #search-form #search-box{
        width:90%;
        margin: 0 1rem;
    }
    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }
    .feature .box-container1 .box1.second{
        flex-flow:column;
    }
}

@media(max-width:417px){
    .trainer .box2 img{
        width: 100%;
        height:fit-content;
    }
}

@media(max-width:1140px){
    html{
        font-size: 41%;
    }
    .products .box-container .box img {
        height: auto;
        width: 100%;
    }
}